@font-face {
  font-family: "fira_codelight";
  src: url("firacode-variablefont_wght-webfont.woff2") format("woff2"),
    url("firacode-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("opensans-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("opensans-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f7f8fa;
  font-size: 1rem;
  font-family: "open_sansregular", sans-serif;
}
