:root {
  --color-bgr-primary: #f7f8fa;
  --color-bgr-secondary: #ffffff;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-tertiary: #ececec;
  --color-button: #3b82f6;
}

body {
  background-color: var(--color-bgr-primary);
}

/*@font-face {
  font-family: "fira_codelight";
  src: url("firacode-variablefont_wght-webfont.woff2") format("woff2"),
    url("firacode-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("opensans-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("opensans-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}*/
